<!DOCTYPE html>
<html>
  <head>
    <title>Twitter app</title>
    <link rel="stylesheet" type="stylesheet/css" href="/stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

  </head>
  <body>
    <header class="header">
      <form id='query-form'>
        <input type="text" name="query" class="tweet-search" placeholder="e.g. Lebron James">
        <input type="submit" name="submit" value="Let's do this" class="submit-tweet">
      </form>
     </header> 

    <section class="display-tweets">
      <section class="tweet-home"></section>
    </section>

    <div class="map-container"></div>


    <script src="javascripts/scripts.js"></script>
    <script>
      // $('document').ready(function(){
      //   console.log('ready!');

      //   $('#query-form').on('submit', function(evt){
      //     evt.preventDefault();
      //     var app = app || {};

      //     app.retrieveData();
          
      //   });
      // });

    </script>


  </body>
</html>
