body {

	background-color: rgb(255, 255, 255);
	font-size: 16px;
}

header {
	margin: 0 auto;
	width: 100%;
	height: 5em;
	background-color: rgb(108, 114, 118);
	font-family: 'Codystar', monospace, sans-serif;
	/*border-bottom: 6px solid black;*/
}


header form {
	padding-top: 5px;
	padding-left: 20px;
}

.display-tweets {
	overflow: auto;
	width: 100%;
	height: 8em;
	float: left;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	/*background-color: rgba(93, 89, 250, 0.8);*/
	/*background-color: white;*/
	background-color: rgb(108, 114, 118);
	display: none;
	/*border-top: 3px solid white;
	border-bottom: 3px solid white;*/
}

.map-container {
	overflow: auto;
	width: 100%;
	margin: 2em auto;
	background-color: rgb(0, 42, 79);
}

.tooltip {
	padding: 20px;
	overflow: auto;
	width: 250px;
	height: 300px;
	position: absolute;
	z-index: 10;
	visibility: visible;
	border: 2px solid black;
	color: black;
	font-family: Quicksand, monospace, sans-serif;
	box-shadow: rgba(0, 0, 0, 0.619608) 20px 20px;
	box-sizing: border-box;
	background-color: rgb(245, 245, 245);
}

.tooltip-photo {
	width: 200px;
	height: 150px;
	background-size: cover;
}

/*svg {
	
}

path {
	fill: rgba(249, 255, 0, 0.9);
	stroke: rgb(48, 129, 132);
	stroke-width: 1px;
}*/

.tweet-home a {
	text-decoration: none;
	background-color: white;

}

input.tweet-search {
	border-radius: 0px 20px 0px 0px;
	border: none;
	border-bottom: 4px solid black;
	box-shadow: 30px 10px black;
	position: relative;
	margin-right: 10px;
	padding: 10px;
	background-color: rgba(244, 244, 244, 0.901961);
	color: black;
	font-family: 'Codystar', monospace, sans-serif;
	letter-spacing: 3px;
	font-size: x-large;
}

input.submit-tweet {
	border-radius: 0px 20px 0px 0px;
	border: none;
	border-bottom: 4px solid black;
	box-shadow: 30px 10px black;
	position: relative;
	margin-right: 10px;
	padding: 10px;
	background-color: rgba(244, 9, 9, 0.901961);
	color: white;
	font-family: 'Codystar', monospace, sans-serif;
	letter-spacing: 3px;
	font-size: x-large;
}

.submit-tweet:hover {
	background-color: rgb(48, 145, 255);
}

li {
	font-family: 'Quicksand', monospace, sans-serif;
	font-size: larger;
	border: 2px solid black;
	border-radius: 10px;
	margin: 6px 4px 6px 4px;
	padding: 10px;
	list-style: none;
	background-color: whitesmoke;
}

/* ===============================================  */
/* ============ Click to Zoom on Map =============  */
/* ===============================================  */

svg {
	stroke: rgba(55, 149, 240, 0.5);
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: rgb(228, 232, 42);
  cursor: pointer;
}

.feature.active {
  fill: rgb(48, 145, 255);
}

.mesh {
  fill: none;
  stroke: rgb(0,0,0);
  stroke-linecap: round;
  stroke-linejoin: round;
}

div#toggle {
	background-color: rgb(108, 114, 118);
	color: aliceblue;
	font-size: normal;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1.5px 1px black;
}

